---
layout: layout
title: Welcome To View Night Time Photos

pagination:
  data: night.media
  size: 6
eleventyComputed:
  title: "Page {{pagination.pageNumber}}"
---


<h2> The collection that we picked is a collection of pictures that were taken during the Night Time. These Photos Provide us a Dark Theme</h2>
<br></br>
<h3> Once you click on any of the photos they will provide you more detail of the photographer on a new page</h3>

<section>
    {% for photo in pagination.items %}
    <aside>
        <a href="/cpsc349-project1/photos/{{ photo.id }}">
                <img src="{{ photo.src.tiny }}" alt="{{ photo.alt }}"/>
        </a>
    </aside>
    
    {% endfor %}
    {% if pagination.href.previous %}
    <a href="/cpsc349-project1{{ pagination.href.previous }}">Previous</a>
    {% else %} Previous {% endif %} {% if pagination.href.next %}
    <a href="/cpsc349-project1{{ pagination.href.next }}">Next</a>
</section>
