---
layout: base
---

<header>
    <nav>
        <h3><a href = "/cpsc349-project1"> The Frontend Fellas</a></h3>
        <ul>
            <li><a href="/cpsc349-project1">Home</a></li>
            <li><a href="/cpsc349-project1/about">About</a></li>
        </ul>
    </nav>
    <h1>{{ title }} </h1>
</header>

<main>
    {{ content }}
</main>

<footer>
    <hr>
    <p>
			<a href = "/about">Authors:</a>
			<a href = "https://github.com/Angus-1/cpsc349-project1">Angel Santoyo,</a> 
			<a href = "https://github.com/sbhagat101/cpsc349-project1">Shiv Bhagat,</a>
			<a href = "https://github.com/S-Price/cpsc349-project1">SpencerPrice,</a>
			<a href = "https://github.com/jericc/cpsc349-project1">JericBaquiran</a>
		<br>
		<small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
		<br>
			<p>© 2022. Frontend Fellas, LLC</p>
        </small>
    </p>
</footer>
